.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

body { 
  background-image: url('poppyseed-background1.png');
  font-family: 'Quicksand', sans-serif;
}

/* ------------- MOBILE -------------- */ 

@media only screen and (max-width: 450px){
  .header {
    font-size: 10px;
  }
  .hamNavContainer {
    width: 100%;
    height: 75px;
    display: inline-block;
    background-color: #f4AFAF;  
  }
  .logo{
    width: 129px;
    height: 75px;
    color: #ff66c4;
    margin-left: 35%
  }
  .hamNav{
    margin: 5px 20px;
    float: right;
  }
  .hamNavIcon{
    width: 40px;
    height: 1px;
    background-color: black;
    margin-top: 15px;
  }
  body {
    background-image: url('poppyseed-background2.png')
  }
  .hamNavCloseBtnContainer {
    height: 100px;
    background-color: white;
    opacity: 0.5;
  }
  .hamNavCloseBtn {
    float: right;
    font-weight: 700;
    margin: 20px;
    font-size: 40px;
  }
  .hamNavOpen {
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 0px;
    list-style: none;
    width: 100%;
    height: 720px;
    padding: none;
    background-color: white;
    opacity: 0.5;
  }
  .hamNavLinks {
    margin-right: 0px;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    text-decoration-line: none;
    font-size: 40px;
    border: none;
    cursor: pointer;
    outline: 0;
  }
  .homeTitle1 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
  } 
  .homeTitleTop {
    letter-spacing: 10px;
    margin-bottom: 10px;
  }
  .homeTitleBottom {
    letter-spacing: 23px;
    margin-top: 10px;
    margin-left:12px;
  }
  .homeTitle2 { 
    text-align: center;
    font-size: 30px;
    letter-spacing: 8px;
    margin-top: 40px;
  }
  .homePicture {
    width: 100%;
  }
}
