.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

body { 
  background-image: url('poppyseed-background1.png');
  font-family: 'Quicksand', sans-serif;
}

/* ------------- MOBILE -------------- */ 

@media only screen and (max-width: 450px){
  .header {
    font-size: 10px;
  }
  body {
    background-image: url('poppyseed-background2.png');
    color: #222
  }
  /* ------- HAMNAV -------- */
  .hamNavContainer {
    width: 100%;
    height: 75px;
    display: grid;
    grid-template-columns: 25% 50% 5% 20%;
    background-color: #f4AFAF;  
    text-align: center;
  }
  .logo{
    width: 129.4px;
    height: 75px;
  }
  .hamNav{
    width: 40px;
    margin: 5px 20px
  }
  
  .hamNavIcon{
    width: 40px;
    height: 1px;
    background-color: black;
    margin-top: 15px;
  }
  .hamNavCloseBtnContainer {
    height: 75px;
    /* background-color: #f4AFAF; */
    opacity: 0.9;
  }
  .hamNavCloseBtn {
    float: right;
    font-weight: 700;
    margin: 7px 20px;
    font-size: 40px;
  }
  .hamNavOpenContainer {
    display: flexbox;
    text-align: center;
    font-size: 30px;
    height: 100%;
    width: 100%;
    padding: 0px;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    /* background-color: #f4AFAF; */
    background-image: url('hamnav-background2.png');
    background-size: cover;
    opacity: 0.9;
    overflow-x: hidden;
    transition: 0.5s;
  }
  .hamNavLinks {
    padding-top: 30px;
  }
  /* --------- HOME -------- */
  grid-container {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    text-align: center;
    margin: 2rem 0px;
    color: #222;
    font-size: 20px;
  }
  grid-item {
    max-width: 100%;
    display: flexbox;
    align-content: center;
    justify-content: center;
    margin: auto;
    text-indent: 0.8rem;
  } 
  .homeTitleTop {
    letter-spacing: 1rem;
    text-align: center;
  }
  .homeTitleBottom {
    letter-spacing: 1.6rem;
    text-align: center;
    text-indent: 1.3rem;
  }
  .homeGrid2 {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    text-align: center;
    margin: 2rem 0px;
  }
  .homeTitle2 { 
    text-align: center;
    font-size: 20px;
    letter-spacing: 8px;
  }
  .homePicture {
    width: 100%;
  }
  .carousel {
    border-width: 3px 0px;
    border-style: solid;
    border-radius: 20px;
    border-image: 
      linear-gradient(
        to right,
      #f4AFAF,   
        #B7ABCB
      ) 1 0 100%;
    
  }
  /* ---------- WORK ------- */
  .workImagesContainer {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    text-align: center;
  }
  .workImages {
    width: 75%;
    height: 75%;
  }
  .workDescriptions {
    text-align: center;
    color: #222;
    letter-spacing: 4px;
  }
    /* ---------- EVENTS ------- */
  .event1 {
  }
  .eventsGrid {
    display: grid;
    text-align: center;
    grid-template-columns: 3% 94% 3%;
    font-size: 1.2rem
  }
  /* ---------- ABOUT ------- */
  .aboutPic1 {
    width: 75%;
    height: 75%; 
  }
  .aboutGrid {
    display: grid;
    text-align: center;
    color: #222;
    font-size: 15px;
    padding: 0.5rem;
  }
  .aboutDescription{
    font-size: 1.5rem ;
    margin-top: 16px;
    font-family: 'Abril Fatface', cursive;
  }
  .aboutGridItem {
    margin-top: 20px;
  }
    /* ---------- CONTACT ------- */
  .socialMediaContainer {
    margin-top: 20px;
    display: grid;
    justify-content: center;
    align-content: center;
  }
  .instagramLogo {
    width: 50px;
    height: 50px;
    margin: 20px auto;
  }
  .facebookLogo {
    width: 45px;
    height: 45px;
    margin: 20px auto;
  }
  .etsyLogo { 
    width: 105px;
    height: 50px;
    margin: 20px;

  }

}
